html{
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Courier New', Courier, monospace;


}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  width: 100%;
  height: 2500px;
}

header{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 25%;
}

.logo{
  width: 100%;
  height: 10%;
  background: #25292c;
  display: flex;
  justify-content: flex-start;
}

.logo picture{
  width: 400px;
  height: 100%;
}

.logo img{
  width: 100%;
  height: 100%;
}


.navbar{
  width: 100%;
  height: 10%;
  /* border: 1px dotted crimson; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #25292c;
  color: aliceblue;
}

.cajasNumeros{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 70%;

}

.numero{
  display: grid;
  place-items: center ;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  margin-right: 15px ;
}

.container1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  /* border: 1px dotted green; */

}
.banner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../storage/Banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container1 picture img{
  width: 100%;
  height: 100%;
}

.caja1Container1{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
  height: 90%;
  z-index: 5;
}


.caja1Container1 h2{
  position: absolute;
  text-align: center;
  font-size: clamp(1rem, 3vw, 3rem);  
  width: 100%;
  height: 25%;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  color: white;
  /* border: 1px dotted black; */
}

.caja1Container1 p{
  position: absolute;
  text-align: center;
  width: 50%;
  height: 25%;
  font-size: clamp(1rem, 3vw, 2rem);  
  color: azure;
  margin: auto;
  top: 25%;
  right: 0;
  left: 0;
  /* border: 1px dotted black; */
}
.caja1Container1 button{
  background: blueviolet;
  color:  white;
  position: absolute;
  text-align: center;
  width: 20%;
  height: 10%;
  border-radius: 50px;
  border: none;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  /* border: 1px dotted black; */
}

.caja1Container1 button:hover{
  filter: drop-shadow(0px 0px 20px rgb(152, 90, 209));
}

section{
  /* border: 1px dotted rebeccapurple; */
  width: 100%;
  height: 70%;
}

.container2{
  /* border: 1px dotted turquoise; */
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40%;
}

.caja1Container2{
  /* border: 1px dotted black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  /* color: black; */
}


.caja1Container2 h2, picture, p{
  width: 50%;
  height: 20%;
  display: flex;
  justify-content:center ;
  align-items: center;
  overflow: hidden;
  text-align: center;
  /* border: 1px dotted black; */
}

.caja1Container2 picture{
  width: 500px;
  height: 60%;
  display: flex;
  justify-content:center ;
  align-items: center;
  overflow: hidden;
  /* border: 1px dotted black; */
}




.caja1Container2 picture img{
  max-width: 100%;
  margin: 5px;
  height: auto;
}
.caja1Container2 h2{
  margin-top: 15px;
}

.caja2Container2{
  /* border: 1px dotted rgb(143, 72, 72); */
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
  overflow: hidden;
}

.caja2Container2 h2{
  /* border: 1px dotted black; */
  width: 90%;
  height: 10%;
  display: flex;
  justify-content:center ;
  align-items: center;
  overflow: hidden;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 15px;

}


.subCaja1Caja2Container2,.subCaja2Caja2Container2{
  /* border: 1px dotted black; */
  width: 90%;
  height: 35%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subCaja1Caja2Container2 picture, p{
  margin: 5px;
}

.subCaja2Caja2Container2 picture, p{
  margin: 5px;
}

.subCaja1Caja2Container2 picture{
  min-width: 150px;
  max-width: 300px;
  height: 200px;
  
}






.subCaja1Caja2Container2 picture img{
  width: 100%;

}

.subCaja2Caja2Container2 picture img{
  width: 100%;
}

.subCaja2Caja2Container2 picture{

  min-width: 150px;
  max-width: 250px;
  height: 180px;
  
}


.container3{
  /* border: 1px dotted turquoise; */
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30%;
}

.caja1Container3{
  /* border: 1px dotted rgb(72, 56, 56); */
  width: 50%;
  height: 100%;
}

.caja2Container3{
  /* border: 1px dotted rgb(172, 153, 153); */
  width: 50%;
  height: 100%;
}

.caja2Container3 {
  /* border: 1px dotted black; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mapsContainer{
  width: 100%;
  height: 50%;
}


.form1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  height: 50%;
}



.controls{
  width: 100%;
  background: #25292c;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid black;
  color:aliceblue;
}

#textarea{
  height: 30px;
  width: 100%;
}

.boton{
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}


.container3_5{
  width: 100%;
  height: 10%;
}

.container4{
  /* border: 1px dotted turquoise; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 30%;

}

.container4 .caja{
  /* border: 1px dotted black; */
}

footer{
  width: 100%;
  height: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin: auto;
  bottom: 0;
  background: #f2f2f2;
}